@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-family: Fredoka, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f8fafc;
  color: #9aa6b2;
}

body {
  margin: 0;
  padding: 0;
}

.max-width-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
